run = "go run ."

modules = ["go-1.21:v2-20231201-3b22c78"]
compile = "make"

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "go run ."]
ignorePorts = false
deploymentTarget = "gce"
